// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary : #5E2572;
$secondary : #00ADB5;
$light : #F5F5F5; //guest bg color
$white : #FFFFFF; //auth bg color

// $table-striped-bg: #F7F6FE;   // Odd row color
// $table-striped-bg-dark: #dbe2e6;
